<form>
    <replace ws-replace="AlertBox"></replace>

    <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label">Code:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="code" ws-var="Code">
        </div>
    </div>

    <div class="form-group row">
        <label for="firstname" class="col-sm-2 col-form-label">Firstname</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="firstname" ws-var="Firstname">
        </div>
    </div>

    <div class="form-group row">
        <label for="lastname" class="col-sm-2 col-form-label">Lastname</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lastname" ws-var="Lastname">
        </div>
    </div>

    <div class="form-group row">
        <label for="updated-at" class="col-sm-2 col-form-label">Updated At:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="updated-at" ws-var="UpdatedAt">
        </div>
    </div>

    <div class="col-12">
        <button type="button" class="btn btn-primary" ws-onclick="OnSave">save</button>
        <button type="button" class="btn btn-link" ws-onclick="OnBack">back</button>
    </div>
</form>
